extends ../layout

block content
  div.container.mt-5
    div.row.justify-content-center
      div.col-md-6
        div.card
          div.card-header
            h4 Reset Password
          div.card-body
            if message
              if status === 'success'
                div.alert.alert-success= message
              else 
                div.alert.alert-danger= message
            
            form(action="/auth/reset-password" method="POST")
              input(type="hidden" name="token" value=token)
              input(type="hidden" name="email" value=email)
              input(type="hidden" name="userType" value=userType)
              
              div.form-group.mb-3
                label(for="password") New Password
                input.form-control#password(type="password" name="password" required minlength="6")
                small.form-text.text-muted Password must be at least 6 characters
              
              div.form-group.mb-3
                label(for="confirmPassword") Confirm Password
                input.form-control#confirmPassword(type="password" name="confirmPassword" required)
              
              div.form-group.mt-4
                button.btn.btn-primary.w-100(type="submit") Reset Password
            
            div.mt-3.text-center
              a(href="/auth/login") Back to Login 