extends ../layout

block content
  h1 Reviews
  
  if reviews && reviews.length
    div.reviews-list
      each review in reviews
        div.review-card
          div.review-header
            h3 #{review.pickup_location} to #{review.dropoff_location}
            p.review-date= new Date(review.created_at).toLocaleString()
          div.review-content
            p
              strong Rating: 
              span.rating ⭐ #{review.rating}/5
            p
              strong Passenger: 
              span= review.passenger_name
            p
              strong Driver: 
              span= review.driver_name
            p.review-text= review.comment

  form.review-form(action="/reviews/create" method="POST")
    h2 Write a Review
    div.form-group
      label(for="rating") Rating:
      select(name="rating" required)
        option(value="") Select rating
        option(value="1") 1 ⭐
        option(value="2") 2 ⭐
        option(value="3") 3 ⭐
        option(value="4") 4 ⭐
        option(value="5") 5 ⭐

    div.form-group
      label(for="review") Your Review:
      textarea(name="review" required)

    div.form-group
      label(for="rideId") Ride:
      select(name="rideId" required)
        option(value="") Select a ride
        each ride in rides
          option(value=ride.ride_id) #{ride.pickup_location} to #{ride.dropoff_location}

    div.form-group
      label(for="passengerId") Passenger:
      select(name="passengerId" required)
        option(value="") Select a passenger
        each passenger in passengers
          option(value=passenger.passenger_id) #{passenger.name}

    div.form-group
      label(for="driverId") Driver:
      select(name="driverId" required)
        option(value="") Select a driver
        each driver in drivers
          option(value=driver.driver_id) #{driver.name}

    button.btn.btn-primary(type="submit") Submit Review

  div.button-container
    a.btn.btn-secondary(href="/") Back to Home 