extends ../layout

block content
  h1 Available Rides
  
  div.button-container
    a.btn.btn-primary(href="/rides/create") Post a New Ride

  if rides && rides.length
    div.rides-container
      each ride in rides
        div.ride-card
          h3 #{ride.pickup_location} to #{ride.dropoff_location}
          p
            strong Driver: 
            span= ride.driver_name || 'Not assigned'
          p
            strong Vehicle: 
            span= ride.vehicle_details || 'Not specified'
          p
            strong Departure: 
            span= new Date(ride.departureTime).toLocaleString()
          p
            strong Available Seats: 
            span= ride.seatsAvailable
          p
            strong Price: 
            span £#{ride.fare}
          p
            strong Status: 
            span.ride-status(class=ride.status.toLowerCase())= ride.status
          div.button-container
            a.btn.btn-primary(href=`/rides/${ride.ride_id}`) View Details
  else
    p.no-rides No rides available at the moment.

  div.button-container
    a.btn.btn-secondary(href="/") Back to Home 